@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}

.wrap {
    width: 100%;
    position: relative;
}

header {
    width: 1340px;
    height: 100px;
    margin: auto;
    position: relative;
}

header>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

nav {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 9;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 150px;
    text-align: center;
}

nav>ul>li>a {
    height: 50px;
    align-content: center;
    background-color: #e31a40;
    color: #fff;
    font-weight: bold;
    font-size: 18px;

}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #dadada;
    color: #e31a40;
    border-bottom: 2px solid #fff;
}

.sub {
    display: none;
}

.sub>li {}

.sub>li>a {
    height: 50px;
    align-content: center;
    color: #ffff;
}

.sub>li>a.on,
.sub>li:hover>a {
    color: #e31a40;
    background-color: #fff;
}

.n_back {
    width: 100%;
    height: 200px;
    background-color: #ffc0cb;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;
    display: none;

}


.slide {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.slide>ul {
    width: 100%;
    height: 1050px;
    position: absolute;
    left: 0;
    top: 0;

}

.slide>ul>li {
    width: 100%;
    height: 350px;
    position: relative;
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
}

.slide .s_text {
    width: 500px;
    height: 120px;
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.slide .s_text>h2 {
    font-size: 25px;
}

.slide .s_text>p {
    font-size: 20px;
    margin-top: 5px;
}

.slide .s1 {
    background: url(/images/img1.jpg) no-repeat center/cover;
}

.slide .s2 {
    background: url(/images/img2.jpg) no-repeat center/cover;

}

.slide .s3 {
    background: url(/images/img3.jpg) no-repeat center/cover;

}


main {
    width: 1340px;
    margin: auto;
    position: relative;
}

.direct {
    width: 100%;
    height: 100px;
    background-color: #e31a40;
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 2;

}

.direct>ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.direct>ul>li {}

.direct>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.direct>ul>li>a>p {
    margin-left: 5px;
    color: #fff;
}

.bann {
    width: 100%;
    height: 150px;

}

.bann>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bann .b_text>h3 {
    font-size: 23px;
}

.bann .b_text>p {
    font-size: 20px;
    margin-top: 5px;
}

.con {
    width: 100%;
    height: 250px;
    display: flex;
}

.con .notice {
    width: 50%;
    height: 100%;
}

.con .notice>ul {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.con .notice>ul>li {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

.con .notice>ul>li:hover {
    border-bottom: 1px solid #ffc0cb;
    color: #ffc0cb;
}

.con .notice>ul>li>a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.con h3 {
    width: 130px;
    height: 50px;
    background-color: #ffc0cb;
    text-align: center;
    align-content: center;
}

.con .gall {
    width: 50%;
    height: 100%;

}

.con .gall>ul {
    width: 100%;
    display: flex;
    gap: 10px;
}

footer {
    width: 1340px;
    height: 100px;
    margin: auto;
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 20px;
}

footer>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

footer .copy {}

footer .famm {}

.pop {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.pop .p_inner {
    width: 550px;
    height: 400px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop .p_inner>h2 {}

.pop .p_inner>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .p_inner .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .p_inner .pop_off:hover {
    color: #dadada;
}